<header>
	<%= image_tag("logo.png", :alt => "Salamander") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "Help", '#' %></li>
			<li><%= link_to "Sign in", '#' %></li>
		</ul>
	</nav>
</header>
